@font-face {
    font-family: 'wimple LIGHT';
    src: url("wimpletext-Light.woff") format("woff");
  }
  @font-face {
    font-family: 'wimple REGULAR';
    src: url("wimpletext-REGULAR.woff") format("woff");
  }
  @font-face {
    font-family: 'wimple BOLD';
    src: url("wimpletext-Bold.woff") format("woff");
  }
  @font-face {
    font-family: 'wimple HEAVY';
    src: url("Wimple-HEAVY.woff") format("woff");
  }
  @font-face {
    font-family: 'wimple STENCIL';
    src: url("wimpledisplay-Bold.woff") format("woff");
  }
  @font-face {
    font-family: 'Wimple STENCIL DECO 001';
    src: url("wimpledisplay-MID001.woff") format("woff");
  }
  @font-face {
    font-family: 'Wimple STENCIL DECO 002';
    src: url("wimpledisplay-MID002.woff") format("woff");
  }
  @font-face {
    font-family: 'Wimple STENCIL DECO 003';
    src: url("wimpledisplay-MID003.woff") format("woff");
  }
  @font-face {
    font-family: 'Wimple STENCIL DECO 004';
    src: url("wimpledisplay-MID004.woff") format("woff");
  }
  @font-face {
    font-family: 'Wimple STENCIL DECO 005';
    src: url("wimpledisplay-MID005.woff") format("woff");
  }
  @font-face {
    font-family: 'Wimple STENCIL DECO FRAME';
    src: url("wimpledisplay-framed002.woff") format("woff");
  }


  html {
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
font-family: sans-serif;
}

body {
margin: 20px;
}


a {
background-color: rgba(0, 0, 0, 0);
}

a:active, a:hover {
outline: 0;
}

button, input, optgroup, select, textarea {
color: inherit;
font: inherit;
margin: 0;
}

button {
overflow: visible;
}

button, html input[type="button"], input[type="reset"] {
-webkit-appearance: button;
cursor: pointer;
}

button[disabled], html input[disabled] {
cursor: default;
}

textarea {
overflow: auto;
}

* {
box-sizing: border-box;
}

html {
height: 100%;
}

body {
min-height: 100%;
color: #333;
background-color: #fff;
margin: 0;
font-family: Arial, sans-serif;
font-size: 14px;
line-height: 20px;
}


.w-button {
color: #fff;
line-height: inherit;
cursor: pointer;
background-color: #3898ec;
border: 0;
border-radius: 0;
padding: 9px 15px;
text-decoration: none;
display: inline-block;
}


.button.reg {
  text-align: center;
  font-family: Wimple LIGHT, sans-serif;
  font-weight: 300;
}

.button.button-reg {
  font-family: Wimple REGULAR, sans-serif;
}

.button.button-light {
  cursor: pointer;
  flex: 1;
  font-family: Wimple LIGHT, sans-serif;
  display: block;
}

.button.button-bold {
  font-family: Wimple BOLD, sans-serif;
}

.button.button-heavy {
  font-family: Wimple HEAVY, sans-serif;
}

.button.button-stencil {
  font-family: Wimple STENCIL, sans-serif;
}

p {
margin-top: 0;
margin-bottom: 10px;
}

.w-input:-moz-placeholder, .w-select:-moz-placeholder {
color: #999;
}

.w-input:focus, .w-select:focus {
border-color: #3898ec;
outline: 0;
}

.w-container .w-row {
margin-left: -10px;
margin-right: -10px;
}

.w-row:before, .w-row:after {
content: " ";
grid-area: 1 / 1 / 2 / 2;
display: table;
}

.w-row:after {
clear: both;
}

.w-row .w-row {
margin-left: 0;
margin-right: 0;
}

.w-col {

float: left;
width: 100%;
min-height: 1px;
padding-left: 10px;
padding-right: 10px;
position: relative;

}

.w-col .w-col {
  
padding-left: 0;
padding-right: 0;
}

.w-col-1 {
width: 9%;
}

.w-col-2 {
width: 15%;
}

@media screen and (max-width: 767px) {

.w-row, .w-container .w-row {
  margin-left: 0;
  margin-right: 0;
}

.w-col {
  width: 100%;
  left: auto;
  right: auto;
}

}

@media screen and (max-width: 479px) {

.w-col {
  width: 100%;
}

}

.w-slider-nav.w-round > div {
border-radius: 100%;
}

.w-slider-nav.w-num > div {
width: auto;
height: auto;
font-size: inherit;
line-height: inherit;
padding: .2em .5em;
}

.w-slider-nav.w-shadow > div {
box-shadow: 0 0 3px rgba(51, 51, 51, 1);
}

.w-slider-nav-invert > div {
background-color: rgba(34, 34, 34, 1);
}

.w-richtext .w-richtext-figure-selected.w-richtext-figure-type-video div:after, .w-richtext .w-richtext-figure-selected[data-rt-type="video"] div:after, .w-richtext .w-richtext-figure-selected.w-richtext-figure-type-image div, .w-richtext .w-richtext-figure-selected[data-rt-type="image"] div {
outline: 2px solid #2895f7;
}

.w-richtext figure.w-richtext-figure-type-video > div:after, .w-richtext figure[data-rt-type="video"] > div:after {
content: "";
display: none;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
}

.w-richtext figure > div:before {
cursor: default !important;
}


.w-richtext figure div {
color: rgba(0, 0, 0, 0);
font-size: 0;
}


.w-richtext figure.w-richtext-figure-type-image > div, .w-richtext figure[data-rt-type="image"] > div {
display: inline-block;
}


.w-richtext figure.w-richtext-figure-type-video > div, .w-richtext figure[data-rt-type="video"] > div {
width: 100%;
}


.w-richtext figure.w-richtext-align-center.w-richtext-figure-type-image > div, .w-richtext figure.w-richtext-align-center[data-rt-type="image"] > div {
max-width: 100%;
}

.w-richtext figure.w-richtext-align-fullwidth > div {
padding-bottom: inherit;
display: inline-block;
}


.body {
outline-offset: 0px;
outline: 3px #333;
}


.fontcontainer {
margin-top: 50px;
display: block;
}


.buttonscontainer {
  flex-direction:column;
  padding-bottom: 9%;
  padding-top: 10%;
  vertical-align: middle;
  right: 10px;
}


.textinput {
  
  display: block;
  margin: 50px auto;
width: calc( 100% - 300px );
height: 80vh;
direction: rtl;
text-align: center;
cursor: text;
border: 1px solid rgba(0, 0, 0, 0);
padding: 5px;
font-family: Wimple REGULAR, sans-serif;
font-size: 150px;
}

body.wimple-light .textinput {
  font-family: "Wimple LIGHT";
}

body.wimple-regular .textinput {
  font-family: "Wimple REGULAR";
}

body.wimple-bold .textinput {
  font-family: "Wimple BOLD";
}

body.wimple-heavy .textinput {
  font-family: "Wimple HEAVY";
}

body.wimple-stencil .textinput {
  font-family: "Wimple STENCIL";
}

.textinput.shadowinput {
  position: absolute;
  top: 0; left: 150px;
  background: transparent;
  pointer-events: none;
}





body.wimple-light .textinput.shadowinput,
body.wimple-regular .textinput.shadowinput,
body.wimple-bold .textinput.shadowinput,
body.wimple-heavy .textinput.shadowinput {
  color: transparent;
}

body.wimple-stencil .textinput.shadowinput {
  font-family: "Wimple STENCIL DECO 001";
  color:#1b7262;
  /* mix-blend-mode: multiply; */
}

body.wimple-stencil .fontcontainer.wimple-deco-001 .textinput.shadowinput {
  font-family: "Wimple STENCIL DECO 001";
}

body.wimple-stencil .fontcontainer.wimple-deco-002 .textinput.shadowinput {
  font-family: "Wimple STENCIL DECO 002";
}

body.wimple-stencil .fontcontainer.wimple-deco-003 .textinput.shadowinput {
  font-family: "Wimple STENCIL DECO 003";
}

body.wimple-stencil .fontcontainer.wimple-deco-004 .textinput.shadowinput {
  font-family: "Wimple STENCIL DECO 004";
}

body.wimple-stencil .fontcontainer.wimple-deco-005 .textinput.shadowinput {
  font-family: "Wimple STENCIL DECO 005";
}

body.wimple-stencil .fontcontainer.wimple-frame .textinput.shadowinput {
  font-family: "Wimple STENCIL DECO FRAME";
}


.decocontainer {
  position: fixed;
  bottom: 5%;
  left: 0; right: 0;
  text-align: center;
  display: none;
  
}





#deco-1{
  font-size:300px;
  font-family: "Wimple STENCIL DECO 001";
  text-decoration: none;

  color:#ec694d;

}
#deco-2{
  font-size:300px;
  font-family: "Wimple STENCIL DECO 002";
  text-decoration: none;
  bottom: -70px;
  color:#ec694d;

  
  
}
#deco-3{
  font-size:300px;
  font-family: "Wimple STENCIL DECO 003";
  text-decoration: none;
  
  color:#ec694d;
  
}
#deco-4{
  font-size:300px;
  font-family: "Wimple STENCIL DECO 004";
  text-decoration: none;
  
  color:#ec694d;

}

#deco-5{
  font-size:300px;
  font-family: "Wimple STENCIL DECO 005";
  text-decoration: none;
  
  color:#ec694d;
  
}

#deco-5{
  font-size:300px;
  font-family: "Wimple STENCIL FRAME";
  text-decoration: none;
 
  color:#ec694d;
  

}

#deco-frame{
  font-size:300px;
  margin-left:20px;
  font-family: "Wimple STENCIL DECO FRAME";
  text-decoration: none;
  /* bottom: -70px; */
  color:#ec694d;

}


#randomColorButton{
  
  cursor: pointer;
  position: relative;
  line-height: 0;
  font-size: 8vh;
  bottom: 3px; 
  border: none; !important

  margin-left: 10px ;
 
}

body.wimple-stencil .decocontainer {
  display: block;
}

.columns-2 {
  width:100%;
margin-left: 10px;
margin-right: 10px;
display: block;
overflow: auto;
position: relative;
overflow:scroll;
}

.button {
color: #000;
text-align: center;
background-color: rgba(0, 0, 0, 0);
flex: 1;
font-size: 10vh;
line-height: 1vh;
}

.button:hover {
color: #ec694d;
}


.newline {
flex: 0 100vw;
display: block;
}

  body {
    overflow: hidden; /* Hide scrollbars */
  }
    
  .textinput {
    border: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.1;
  }
  
  
  .buttonscontainer {

    
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;


  height: auto;
  position: fixed;
  top: 0;
  right: 50px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  width: 2vh;
  flex-wrap: wrap;
  align-content: space-around;
}
  
  .button {
    cursor: pointer;
    position: relative;
    line-height: 10vh;
    font-size: 8vh;
  }
  
  
  /* CSS for the slider column */
  .slider-column {
    position: fixed;
    top: 0;
    left: 50px; /* Adjust right position to account for button width */
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .slider-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slider-track {
    

  background: repeating-linear-gradient(
#000000, #000000 1px,
rgba(0,0,0,0) 0px, rgba(0,0,0,0) 25px);

    width: 8px;
    height: 60%;
   /* background-color: #ccc; */
    position: relative;
  }
  
  .slider-thumb {
    width: 28px;
    height: 28px;
    background-color: #555;
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    border-radius: 21px;
    cursor: pointer;
  }
  
.textinput.frame-input {
  position: absolute;
  top: 0;
  left: 150px;
  background: transparent;
  pointer-events: none;
  font-family: "Wimple STENCIL DECO FRAME";
  color: #1b7262;
}

.fontcontainer.wimple-frame .textinput.shadowinput {
  /* color: transparent; */
}


.frame-input {
  position: absolute;
  top: 0;
  left: 150px;
  background: transparent;
  pointer-events: none;
  color: #1b7262; /* Set the default text color */

  display: none;

}

